.balance {
  background-color: #ecfccb;
  border-color: #84cc16;
}
.income {
  background-color: #cffafe;
  border-color: #06b6d4;
}
.expenses {
  background-color: #ede9fe;
  border-color: #7c3aed;
}

.money-container {
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  height: 90px;
  width: 100%;
  margin: 5px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.money-image {
  height: 30px;
}
